<h2>welcome</h2>
 
                  
                {{!-- loop in arry --}}


{{#each people}}

{{!-- {{#each people as |value key|}} --}}
 
{{!-- <p>{{.}}</p> --}}
{{this}}
{{!-- <p>{{this}}</p> --}}
{{!-- <p>{{key}}:{{value}}</p> --}}
{{/each}}

{{!-- ===================================================== --}}


                          {{!-- loop in object --}} 


                          {{!-- {{#each users}}
<p>{{@key}}:{{this}}</p>
                          {{/each}}
  --}}

  {{!-- {{#each articles}}
 <p>{{this}}</p>
{{/each}} --}}